extends layouts/default

block body
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
  h1 Hello World! :D
